.container{
    display: flex;
    width: 100%;
}

aside.dashboard{
    width: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.main-area{
    width: 75%;
    padding-left: 25px;
    margin-top: 20px;
}
.menu-button{
    font-size: 20px;
    background: darkgoldenrod;
    margin: 15px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
}
.dashboard-row{
    display: flex;
}
.placeholder{
    width: 300px;
    height: 300px;
    background: orange;
    margin: 15px;
}



